.DS_Store

# Android / IntelliJ
**/.gradle/
**/build/
**/captures/
**/.idea/
**/*.iml
**/local.properties
**/.externalNativeBuild/
**/.cxx/

# Kotlin / Java artifacts
**/*.class
**/*.dex
**/*.kotlin_module

# Logs
**/*.log
